<html>
<body>

{{ range $.Site.Data.events }}
   <h2> {{ .name }} </h2>
   <ul>
   {{ range .levels }}
     <li>{{ .name }}
        <ul>
        {{ range .sponsors}}
            {{ range $id, $override := .}}
              {{ $sponsor := index $.Site.Data.sponsors $id }}
              <li> {{ index $sponsor "name" }}
                  {{ or (index $override "url") (index $sponsor "url") }}
              </li>
            {{ end}}
        {{ end }}
        </ul>
     </li>
   {{ end }}
   </ul>

{{ end }}

</body>
</html>
